openai
google-genai
datasets
pandas
numpy
tqdm
matplotlib
scipy
transformers
langchain
langchain-core
langchain-openai
langchain-google-genai
langchain-community
langgraph
faiss-gpu-cu12
protobuf>=3.20.0,<4.0.0
langchain-chroma>=0.1.2